body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.controlBody {
  background-color: #fff;
  height: 200px;
  width: 800px;
}

.top {
  display: flex;
}

.gameInterface {
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justifyContent: center;
  alignItems: center
}

.gameInterface section {
  display: flex;
  justify-content: center
}

p {
  margin: 0px 10px 0px 0px;
  position: relative;
  padding: 20px 20px 20px 30px;
  color: #000000;
  font-family: sans-serif;
  transition: 0.5s;
}

p::before,
p::after{
  content: "";
  position: absolute;
  height: 5vh;
  width: 2px;
  background: #fff;
  -webkit-transform: translate(0vw, 1vh);
  pointer-events: none;
  -webkit-transform-style: preserve-3d;
  -webkit-transition-property: width,opacity, background;
  -webkit-transition-duration: 0.5s;

}

input{
height: 30px;
}

p::before{
  top: 0;
  left: 0;
}

p::after{
  top: 0;
  right: 0;
}

p:hover::before,
p:hover::after{
  width: 100%;
  background: #6096BA;
  opacity: 0.1;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}